<div class="container-fluid"  ng-controller="queryController">
<div class="page-header">
   <h2>Search Rsvp Meetups
      
   </h2>
</div>
<form class="form-horizontal" role="form">

	<div class="row">
   <div class="form-group col-md-6">
      <label for="searchText">Enter Search</label>
      <input type="text" class="form-control" ng-model="queryObject.searchText" id="searchText"  required
         placeholder="Search any Event">
   </div>
   </div>
   <div class="row">
   <div class="form-group col-md-6">
     <label class="control-label">Select State</label>
        <div class="selectContainer">
            <select name="colors" class="form-control" ng-model="queryObject.state" multiple title="Choose one or more states">
                <option value="NJ-core">New Jersey</option>
                <option value="NY-core">New York</option>
                 <option value="ME-core">Maine</option>
                  <option value="NH-core">New Hampshire</option>
                   <option value="MA-core">Massetusettes</option>
                    <option value="PA-core">Pennsylvania</option>
                     <option value="VA-core">Virginia</option>
                      <option value="NC-core">North Carolina</option>
                       <option value="SC-core">South Carolina</option>
                        <option value="GA-core">Georgia</option>
                         <option value="FL-core">Florida</option>
                          <option value="VT-core">Vermont</option>
                           <option value="CT-core">Connecticut</option>
                            <option value="DC-core">Washington DC</option>
                             <option value="RI-core">Rhode Island</option>
                              <option value="MD-core">Maryland</option>
                               <option value="DE-core">Delaware</option>
                              
                
            </select>
        </div>
   </div>
   </div>
   <button ng-click="query()" class="btn btn-primary">Query</button>
</form>
<div style="height:10px">
</div>

<div class="row" ng-repeat="result in results">
	<blockquote>
  <p>Venue : {{result.venue_name}}</p>
  <p>Group : {{result.group_name}}</p>
  <p>Topic : <span ng-repeat="top in result.topic">{{top}}, &nbsp;</span><span> </span> </p>
    <footer>Event URL:  <cite title="URL">{{result.event_url}}</cite></footer>
  </blockquote>
</div>

<canvas tc-chartjs-bar chart-options="options" chart-data="data" auto-legend></canvas>

<!--  <div ng-show="accounts.length > 0">

<table class="table table-hover">
   <caption>List of Accounts</caption>
   <thead>
      <tr>
         <th>User ID</th>
         <th>Status</th>
         <th>Domain Name</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="account in accounts">
         <td>{{account.userID}}</td>
         <td>{{account.status}}</td>
         <td>{{account.domainName}}</td>
      </tr>
   </tbody>
</table>
</div> -->
</div>