<div class="container-fluid" style="height:800px;" ng-controller="queryController">
<div class="page-header">
   <h2>Search Rsvp Meetups
      
   </h2>
</div>
<form class="form-horizontal" role="form">

	<div class="row">
   <div class="form-group col-md-6">
      <label for="searchText">Enter Search</label>
      <input type="text" class="form-control" ng-model="queryObject.searchText" id="searchText"  required
         placeholder="Search any Event">
   </div>
   </div>
   <div class="row">
   <div class="form-group col-md-6">
     <label class="control-label">Select State</label>
        <div class="selectContainer">
            <select name="colors" class="form-control" ng-model="queryObject.state" multiple title="Choose 2-4 colors">
                <option value="NJ-core">New Jersey</option>
                <option value="NY-core">New York</option>
            </select>
        </div>
   </div>
   </div>
   <button ng-click="query()" class="btn btn-primary">Query</button>
</form>
<div style="height:10px">
</div>

<div class="row" ng-repeat="result in results">
	<blockquote>
  <p>Venue : {{result.venue_name}}</p>
  <p>Group : {{result.group_name}}</p>
  <p>Topic : {{result.topic}}</p>
  <!--  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
  </blockquote>
</div>


<!--  <div ng-show="accounts.length > 0">

<table class="table table-hover">
   <caption>List of Accounts</caption>
   <thead>
      <tr>
         <th>User ID</th>
         <th>Status</th>
         <th>Domain Name</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="account in accounts">
         <td>{{account.userID}}</td>
         <td>{{account.status}}</td>
         <td>{{account.domainName}}</td>
      </tr>
   </tbody>
</table>
</div> -->
</div>