 <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="#/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#/domain"><i class="fa fa-fw fa-bar-chart-o"></i> Domains</a>
                    </li>
                    <li>
                        <a href="#/application"><i class="fa fa-fw fa-table"></i> Applications</a>
                    </li>
                    <li>
                        <a href="#/catridge"><i class="fa fa-fw fa-edit"></i> Catridges</a>
                    </li>
                   
                    <li>
                        <a href="#/setupaccount"><i class="fa fa-fw fa-wrench"></i> Setup Openshift Accounts</a>
                    </li>
                </ul>
            </div>